<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/rating.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>

</head>
<body class="bg-light">

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="width: 350px; border-radius: 15px;">

            <form method="post" action="/signup">

                <div class="mb-3">
                    <label class="form-label" for="username">username</label>
                    <input 
                        type="text" 
                        placeholder="username" 
                        name="username" 
                        class="form-control"
                    >
                </div>

                <div class="mb-3">
                    <label class="form-label" for="password">password</label>
                    <input 
                        type="password" 
                        placeholder="password" 
                        name="password" 
                        class="form-control"
                    >
                </div>

                <!-- <div class="mb-3">
                    <label class="form-label" for="email">email</label>
                    <input 
                        type="text" 
                        placeholder="email" 
                        name="email" 
                        class="form-control"
                    >
                </div> -->

                <button class="btn btn-success w-100">signup</button>

            </form>
            <p>Already have an account <a href="/login" style="text-decoration: none;"> login</a></p>
             <div class="text-center">
            <a href="/listings" class="explore"> Explore without signup</a>
        </div>
        </div>

    </div>

</body>

</html>
